{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ">0.2%, not dead, not op_mini all",
          "node": "current"
        }
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "babel-plugin-styled-components"
  ],
  "env": {
    "test": { "presets": ["@babel/env", "@babel/react"] }
  }
}
